body{
	color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header{
	position: relative;
}

footer{
	clear: both;
	padding: 20px 0;
	background-image: url(../assets/img/fundo-rodape.png);
}

footer .container{
	position: relative;
}

.busca{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.sacola{
	background: url(../assets/img/sacola.png) no-repeat top right;
	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 140px;
	padding-top: 8px;
	position: absolute;
	top: 0;
	right: 0;
}

.menu-opcoes{
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul{
	font-size: 15px;
}

.menu-opcoes a{
	color: #003366;
}

.menu-opcoes ul li{
	display: inline;
	margin-left: 20px;
}

.container{
	margin: 0 auto;
	width: 940px;
}

.menu-departamentos{
	clear: left;
	margin-top: 10px;
	padding-bottom: 10px;
}

.destaques{
	margin-top: 10px;
}

.painel{
	border-radius: 4px;
	box-shadow: 1px 1px 4px #999;
	margin: 10px 0;
	padding: 10px;
	width: 445px;
}

.novidades{
	float: left;
	background-color: #f5dcdc;
}

.mais-vendidos{
	float: right;
	background-color: #dcdcf5;
}

.social{
	position: absolute;
	top: 12px;
	right: 0;
}

.menu-opcoes a:hover{
	color: #007dc6;
}

.menu-opcoes a:active {
	color: #867dc6;
}
.social a{
	height: 32px;
	width: 32px;
	display: block;
	text-indent: -9999px;
}

.social li{
	float: left;
	margin-left: 25px;
}

.painel li{
	display: inline-block;
	vertical-align: top;
	width: 140px;
	margin: 2px;
	padding-bottom: 10px;
}

.painel h2{
	text-shadow: 3px 3px 2px #fff;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.social a[href*="facebook.com"] {
background-image: url(../assets/img/facebook.png);
}
.social a[href*="plus.google.com"] {
background-image: url(../assets/img/googleplus.png);
}
.social a[href*="twitter.com"] {
background-image: url(../assets/img/twitter.png);
}

.painel a{
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}


.busca, 
.menu-departamentos{
	background-color: #dcdcdc;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 10px;
	width: 230px;
	float: left;
}

.busca h2, .busca form, 
.menu-departamentos h2{
	margin: 10px;
}

.menu-departamentos li{
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a{
	color: #333;
	text-decoration: none;
}

.busca input{
	vertical-align: middle;
}

.busca input[type=search]{
	width: 170px;
}

.menu-departamentos li ul{
	display: none;
}

.menu-departamentos li:hover ul{
	display: block;
}

.menu-departamentos ul ul li{
	background-color: #dc;
}

.painel li:hover {
	box-shadow: 0 0 5px #333;
	transition: box-shadow 0.7s;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 5px #333;
	transition: 0.7s;
	transform: scale(1.2);
	transform: scale(1.2) rotate(-5deg);
}