body{
	font-family: sans-serif, "Lucida Sans Unicode", monospace;
	color: #333;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

h1{
	text-align: center;
	background-image: url(../assets/img/sobre-background.jpg);
	padding: 10px;
}

h2{
	padding-left: 10px;
	margin-left: 10px;
	border-bottom: 2px solid #333;
	margin-top: 30px;
}

figure{
	background-color: #f2eded;
	border: 1px solid #ccc;
	text-align: center;
	padding: 0;
	margin-left: 10px;
}

figcaption{
	font-style: italic;
	margin-top: 10px;
}

p{
	text-transform: capitalize;
	text-align: justify;
	padding: 0 45px;
	text-indent: 15px;
}

#diferenciais{
	font-style: italic;
}

#centro-distribuicao{
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

#rodape{
	color: #777;
	margin: 30px 0;
	padding: 30px 0;
}

#rodape img{
	margin-right: 30px;
	vertical-align: middle;
	width: 94px;
}

#familia-pelho{
	float: right;
	margin: auto;
}